manifest {
  defaultBranch = "main"
}

params {
  outdir = "/Users/ziangchen/nf-variant/vtx-nf-runs/test_result"
  chr_num = 2
  cas_output = "/Users/ziangchen/nf-variant/Human_PCSK9_exon1_library_duplirmv.txt"
  genome_file = "/Users/ziangchen/test/new/variant_casoffinder-master/bcftools-1.16/CCDG_14151_B01_GRM_WGS_2020-08-05_chr22.filtered.shapeit2-duohmm-phased.vcf.gz"
}
